<launch>
  <!-- start gazebo with boxes -->
  <param name="/use_sim_time" value="true" />
  <node name="gazebo" pkg="gazebo" type="gazebo" args="-u /home/turtlebot/catkn_ws/src/cp1_gazebo/worlds/maze2.world" respawn="false" output="screen"/>
  <include file="$(find turtlebot_gazebo_tutorial)/robot.launch"/>

  <!--- Run gmapping -->
  <include file="$(find turtlebot_navigation)/config/gmapping_turtlebot.launch" />

  <!--- Run Move Base  -->
  <include file="$(find turtlebot_navigation)/config/move_base_turtlebot.launch" />

</launch>
